body {
    font-family: Arial, sans-serif;
    background-image: url(/images/dark-path-in-the-forest-green-landscape-forest-background-free-photo.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100vw;
}

.container {
    height: 450px;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;

    border-radius: 34px;
    box-shadow: 0px 0px 10px rgba(240, 238, 238, 0.1);

    background: rgba(4,23,4,0.35);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(4,23,4,0.175);
    

    -webkit-box-shadow: 0 3px 24.5px -7px #dddddd;
-moz-box-shadow: 0 3px 24.5px -7px #dddddd;
box-shadow: 0 3px 24.5px -7px #dddddd;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #FFFF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form-group {
    margin-bottom: 20px;
}

label {
    color: #FFFF;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.btn-primary {
    background-color: #FFFF;
    border: none;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 32px;
    width: 124px;
    height: 44px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.error-message {
    color: #f00;
    margin-top: 10px;
}
.text-center {
    text-align: center;
}
.logo-img{
    margin-bottom: 5px;
    margin-right: 10px;
    width: 74px;
    height: 50px;
    border-radius: 16px;
    
}
.header-auth {
    padding-left: 20px;
    padding-top: 15px;
    width: 100%;
    height: 80px;
    /* background-color: #636363; */
    display: flex;
    justify-content: flex-start;
    background: rgba(99,99,99,0.85);

}
.logo-container{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 200px;
    height: 60px;
}
.botttom-login{
    display: flex; 
    justify-content: space-between;
    margin-top: 30px; 
    color: white;
}
.botttom-forgotpass{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}
.bottom-email{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: brown;

}
.button-container{
    height: 80px;
    width: 150px;
    margin-left: 1000px;
    align-self: flex-end;
    background-color:red;
    display: flex;
    /* padding-left: 1000px; */
    align-items: center;
    justify-content: end;
}


.list-container{
    width: 100%;
    background-color: black;
    height: 40px;
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.list{
    height: 40px;
    width: auto;
    /* background-color: #0056b3; */
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.list a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    text-decoration: none;
}
.list a:hover {
    background-color: white;
    color: black;
}
.header-home{
    background: rgba(99,99,99,0.85);

}
.link-header{
    border: 2px;
    border-radius: 5px;
}
.link-header:hover{
    background-color: white;
}
.list-container{
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-container div{
    display: flex;
    justify-content: center;
    width: auto;
}
.list{
    display: flex;
    justify-content: center;
    width: 100px;
    height: 50px;
    text-decoration: none;
    color: white;
}
.list:hover{
    color: black;
    background-color: white;
}
.banner-container{
    width: 100%;
    height: 390px;
background-color: #78AE81;
display: flex;
justify-content: center;
overflow: hidden;
}
.title-container{
    width: 500px;
    height: 390px;
    background-color: #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title1{
    width: 300px;
    height: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    font-weight: 700;
}
.title2{
    width: 300px;
    height: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: 500;
}
.category-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    height: auto;
}
.category {
    margin-top: 10px ;
    margin-right: 10px;
    position: relative;
    width: 300px;
    height: 250px;
}
.category img{
    border-radius: 6%;
    width: 300px;
    height: 250px;
}
.category h3{
    position: absolute;
    color: white;
    text-shadow: black;
    margin-top: -150px;
    margin-left: 50px;
}
.category:hover{
    scale: 1.1;
    transition-duration: 1s;
}
.product-container{
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}
.pagination-container{
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;

}
.card{
    margin-top: 50px;
    margin-right: 20px;
    margin-bottom: 25px;
}
.card:hover{
    scale: 1.1;
    transition-duration: 0.5s;
}
.addtocartbutton{
    text-decoration: none;
    height: 40px;
    width: 120px;
    background-color: greenyellow;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.productdetail-container{
     background: #76cf7a;
    background: -webkit-linear-gradient(0deg, #76cf7a 0%, #292939 100%);
    background: linear-gradient(0deg, #76cf7a 0%, #292939 100%);
    width: 100vw;
    height: 700px;
    /* background: no-repeat; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-main-container{
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* background-color: #0056b3; */
}
.subtotal-container{
    width: 20%;
    height: 400px;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.subtotal-container div{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    font-weight: 500;
    /* background-color: #0056b3; */
}
.subtotal-container form{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
.subtotal-container form button{
    margin-left: 10px;
}
.cart-table{
    height: auto;
    width: 900px;
   /* background-color: #292939;   */
}
.cart-subtotal-container{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 50px;
    /* background-color: aqua; */
}
.cart-subtotal{
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
    height: 50px;
    background-color: #D9D9D9;
}
.profile-main-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-image: url('/images/dark-path-in-the-forest-green-landscape-forest-background-free-photo.jpg'); */

}
.primary-profile{
    height: 200px;
    background-image: url('/images/dark-path-in-the-forest-green-landscape-forest-background-free-photo.jpg');
    width: 100vw;
}
.primary-profile-div{
    background: rgba(41,41,57,0.45);
-webkit-backdrop-filter: blur(13px);
backdrop-filter: blur(13px);
border: 2px solid white;
height: 200px;
width: 100vw;
display: flex;
align-items: center;
justify-content: space-evenly;
color: white;

}
.profile-img-container{
    background-color: white;
    overflow: hidden;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    border: 3px solid #12DB26;
}
.profile-img-container img{
    margin: 0 auto;
    height: 100%;
    width: 100%;
    display: block;
}
.secondary-profile{
    background-color: gray;
    width: 100vw;
    height: auto;
    display: flex;
    
    /* background-color: #0056b3; */
}
.headlist-container{
    width: 25vw;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.side-item:hover{
    background-color: green;
    border-radius: 10px;
 }
 .detail-container{
    width: 100%;
    height: auto;
    /* background-color: #0056b3; */
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
 }
 .subdetail-container{
    display: flex;
    justify-self: center;
    align-items: center;
    height: auto;
    width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    border-radius: 20px;
 }
.Customer-detail-profile{
    margin-left: 10%;
    height: auto;
    display: flex;
    width: 900px;
    /* background-color: #12DB26; */
}
.firstdetail{
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    /* background-color: #0056b3; */
}
.Customer-detail-profile p{
    font-weight: 500;
}
.seconddetail{
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.default-address{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 800px;
    height: auto;
    border: 1px solid black;
    border-radius: 20px;
}
.Customer-address-profile{
    margin-left: 10%;
    height: auto;
    display: flex;
    width: 900px;
    flex-direction: column;
}
.address-list{
    background: #ffffff;
background: -webkit-radial-gradient(circle, #ffffff 0%, #ced6e4 100%);
background: radial-gradient(circle, #ffffff 0%, #ced6e4 100%);
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 15px;
    width: 800px;
    height: auto;
    border: 1px solid black;
    border-radius: 20px;
}
.addressadd{
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    width: 800px;
    display: flex;
    flex-direction: column;
    background-color: #292939;
    /* justify-content: center; */
    align-items: center;
    color: white;
}
.addressadd div{
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 700px;
    height: 80px;
    align-items: center;
    justify-content: space-around;
    display: flex;
}
.addressadd label{
    width: 100px;
}

details.styled summary{
    border-radius: 20px;
    margin-top: 40px;
    background-color: lightgray;
    border: 1px solid green;
    font-weight: 500;
    width: 800px;
}

details.styled summary:hover{
    background-color: lightgreen;
    transition: 0.5s;
}
summary{
    padding-left: 15px;
    height: 80px;
    list-style: none;
}
summary::before{
    content: 'V';
    float: right;
    margin-right: 25px;
    margin-top: 30px;
    transition: transform 0.5s;
}
details[open].styled summary::before{
    transform: rotate(180deg);
}
.description{
    border-radius: 20px;
    width: 800px;
    display: flex;
    flex-direction: column;
    background-color: gray;
}
.paymentselector-container{
    width: 800px;
    height: 550px;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.head-paymentselector{
    display: flex;
    align-items: center;
    width: 750px;
    padding-left: 50px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
}
.subhead-paymentselector{
    justify-content: space-around;
    display: flex;
    align-items: center;
    width: 750px;
    height: 70px;
    background-color: white;
}
.subhead-paymentselector button{
    height: 40px;
    border: 1px solid green;
    width: 150px;
    background-color: white;
    border-radius: 20px;
}
.subhead-paymentselector button:hover{
    background-color: black;
    color: white;
}
.paymentdetail-container{
    background-color: white;
    width: 750px;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.Customer-order-profile{
    margin-left: 10%;
    height: auto;
    display: flex;
    width: 900px;
    flex-direction: column;
    align-items: center;
}

.order-container{
    -webkit-box-shadow: -2px 3px 10px 3px #dddddd;
-moz-box-shadow: -2px 3px 10px 3px #dddddd;
box-shadow: -2px 3px 10px 3px #dddddd;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 900px;
    height: auto;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.order-container div{
    display: flex;
    height: 50px;
    width: 900px;
    justify-content: space-evenly;
}
.wish {
    color: #ffffff; /* Default color */
  }
  
  .wish-clicked {
    color: #f00; /* Color when clicked */
  }